// Fonts
$main-font: 'Roboto Slab';
$second-font: 'Raleway';
$third-font: 'Permanent Marker';
$fourth-font: 'Gloria Hallelujah';

// Colors
$main-color: #9E2245;
$comp-color: #C7E5E3;
$third-color: #FFE59F;
